*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* Navbar */

.navbar-nav a {
  font-size: 18px;
  font-weight: 600;
}

.card-title, .card-text, .list-text{
  font-family: 'Merriweather', serif;
}

.list-img{
  transition: 0.5s;
}

.list-img:hover{
  transform: scale(1.1);
}